<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

    </style>
</head>
<body>
    <h1>Hello</h1>

    {{ result|json_script:'result'}}

    <script>
        var data = JSON.parse(document.getElementById('result').textContent);

        for(let i in data.articles){
            
            console.log(data.articles[i]);

        }
       
    </script>    
</body>
</html>